<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <!-- <type name="Magento\Contact\Controller\Index\Post">
        <plugin name="reCaptcha_Post_Action" type="SR\ReCaptcha\Plugin\Contact\Controller\Index\Post" sortOrder="1"/>
    </type> -->
	<!-- <type name="Nuluv\Lookingfor\Controller\Index\Index">
        <plugin name="reCaptcha_Post_Action1" type="SR\ReCaptcha\Plugin\Lookingfor\Controller\Index\Index" sortOrder="0"/>
    </type> -->
	
</config>
